<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pain Layout - Class 5</title>
  </head>
  <body>
    <h1>Pain Layout</h1>
    <h2>Using floats and media query</h2>
    <header></header>
    <section></section>
    <section></section>
    <section></section>
    <footer></footer>
  </body>
</html>
