body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  background: #eaeaed;
  *zoom: 1;
}
.container,
section,
aside {
  border-radius: 6px;
}
section,
aside {
  background: #2db34a;
  color: #fff;
  margin: 1.858736059%;
  padding: 20px 0;
  text-align: center;
}

@viewport {
  width: device-width;
  zoom: 1;
}

img,
video,
canvas {
  max-width: 100%;
}
img {
  display: block;
  max-width: 100%;
}
figure {
  height: 0;
  margin: 0 0 24px 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  width: 100%;
}
.figure-75 {
  width: 75%;
}
.figure-50 {
  width: 50%;
}
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
