@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

/* GLOBAL SELECTORS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: rgba(37, 53, 71, 1);
}

/* NAVIGATION */

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  background: rgb(243, 247, 251);
}

#name-title {
  font-weight: 600;
  font-size: 3rem;
  color: rgb(29, 50, 67);
}

.nav-area {
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgba(37, 53, 71, 1);
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  font-size: 2.1rem;
}

.nav-links:hover {
  color: rgba(37, 53, 71, 0.5);
}

.nav-area * {
  display: inline;
  padding: 0 10px;
  text-transform: capitalize;
}

.btn.primary {
  transition: all 0.2s ease 0s;
}

.btn.primary:hover {
  background: rgba(37, 53, 71, 0.8);
}

.btn {
  padding: 10px 25px;
  background: rgba(37, 53, 71, 1);
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* TOP SECTION */

main {
  background: rgb(243, 247, 251);
  height: 800px;
}

.main-text,
.main-img-section {
  float: right;
  height: 100%;
}

.main-img-section {
  padding-top: 20px;
  width: 55%;
}

.main-text {
  padding: 150px 250px 150px 100px;
  font-size: 2.8rem;
  width: 45%;
}
.tagline {
  text-transform: uppercase;
  font-size: 2rem;
  color: rgba(37, 53, 71, 0.5);
}

.main-title {
  margin-top: 15px;
  font-size: 5.5rem;
}

.main-image {
  width: 100%;
}

input[type="text"] {
  width: 350px;
  height: 40px;
  padding-right: 50px;
  padding-left: 10px;
  background: rgb(218, 227, 236);
  border: none;
  font-size: 1.5rem;
  color: rgba(37, 53, 71, 0.5);
}

input[type="submit"] {
  margin-left: -50px;
  height: 40px;
  width: 100px;
  background: rgba(37, 53, 71, 1);
  color: rgb(255, 255, 255);
  border: 0;
  font-size: 1.8rem;
  border: none;
  padding: 5px 0 0 0;
}

.description {
  font-size: 2.1rem;
  margin-top: 30px;
  padding-right: 30px;
}

/* PANEL SECTION */

.panels {
  height: 450px;
  background: rgb(243, 247, 251);
}

.panel-1 {
  float: left;
  width: 25%;
  margin-top: 60px;
  padding-left: 100px;
  padding-right: 20px;
  line-height: 35px;
  font-size: 2.4rem;
}
.panel-2,
.panel-3,
.panel-4 {
  float: left;
  width: 25%;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 50px;
  line-height: 35px;
  font-size: 2.4rem;
}

.feature-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px 0;
}

.feature-description {
  margin: 0 0 30px 0;
}

.feature-links {
  text-decoration: none;
  color: rgba(37, 53, 71, 1);
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.feature-links:hover {
  color: rgba(37, 53, 71, 0.5);
}

/* BOTTOM SECTION */

.middle {
  height: 100px;
  background: white;
  margin: 50px 0 0 0;
  padding-left: 100px;
}

.second-title {
  font-size: 5.5rem;
  padding-right: 300px;
  width: 50%;
}

.second-text {
  color: rgba(37, 53, 71, 0.5);
  margin: 25px 0 50px 0;
  font-size: 2.5rem;
  padding-right: 50px;
  width: 50%;
  line-height: 35px;
}

.box-image {
  height: 100px;
  width: 90%;
  background: rgb(218, 227, 236);
}
