<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Layout 1 - Homework</title>
  </head>
  <body>
    <h1>Layout 1</h1>
    <header>Header</header>
    <section>Section 1</section>
    <section>Section 2</section>
    <section>Section 3</section>
    <article>Article 1</article>
    <article>Article 2</article>
    <footer>Footer</footer>
  </body>
</html>
