/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}

section {
  height: 300px;
  width: 20%;
  border: 2px solid black;
  float: left;
}

.thiccOne {
  width: 40%;
}

/* @media screen and (max-width: 600px) {
  section {
    background: palegreen;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  section {
    background: pink;
    width: 33.3333%;
  }
  .thiccOne {
    display: none;
  }
} */

@media screen and (min-width: 400px) and (max-width: 600px) {
  header,
  footer {
    background: rgb(255, 205, 205);
    margin: 50px;
  }

  section {
    width: 100%;
    background: rgb(255, 255, 202);
    margin: 10px;
    float: none;
  }
  .thiccOne {
    background: olive;
    width: 100%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 399px) {
  header,
  footer {
    background: rgb(146, 206, 255);
  }

  section:not(.thiccOne) {
    display: none;
  }

  .thiccOne {
    background: gray;
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1440px) {
  body {
    background: thistle;
  }
  header,
  footer {
    background: rgb(255, 205, 205);
    margin: 50px;
  }
  section + section {
    display: none;
    float: none;
  }

  section {
    width: 100%;
    background: grey;
    border: 10px dotted white;
    float: none;
    margin: 50px;
  }
}
