* {
  box-sizing: border-box;
  background: rgb(209, 200, 193);
}

header,
footer {
  height: 100px;
  border: 2px solid black;
  width: 100%;
  clear: both;
}

#first {
  height: 150px;
  border: 2px solid black;
  width: 100%;
  float: left;
}

#second {
  height: 250px;
  border: 2px solid black;
  width: 40%;
  float: left;
}

#third {
  height: 250px;
  border: 2px solid black;
  width: 60%;
  float: right;
}
