/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

/* TOP SECTION */
header {
  height: 55px;
  background: black;
  color: white;
}

nav * {
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav form input {
  width: 100%;
}

header nav ul {
  width: 50%;
  list-style-type: none;
}

main > section {
  float: left;
  width: 50%;
  height: 500px;
}

main > section + section > section {
  width: 50%;
  height: 250px;
  float: left;
  border: 2px solid black;
}
/* BOTTOM SECTION */

main + section > section {
  float: left;
  width: 33.33%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
